{
    db => {
        dsn => '',
        username => '',
        password => '',
    },

    service => {
        pocket => '',
        hatena => {
            consumer_key => '',
            consumer_secret => '',
        },
    },
};
