<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <meta name="author" content="Gion">
    <meta name="referrer" content="no-referrer">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        overflow-y: scroll;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="permission" content="[% __boolean(r.is_admin) %]">
    <meta name="mode-nopin" content="[% __boolean(nopinlist) %]">
  </head>
  <body>
    <div class="container" id="app"></div>
    <script src="/static/gion.js[% __version() %]"></script>
  </body>
</html>
